// Colours 
$brand-blue-1: #2c3e50; // Header of preview and default color for text x
$brand-blue-light: #34495e; // Text on HCard Preview
$brand-blue-2: #3498db; // btn-blue x
$brand-grey-1: #e1e4e7; // Background-color behind HCard Preview x
$brand-grey-2: #95a5a6;// HCard Preview heading x
$brand-grey-3: #e3eef5;
$brand-grey-4: #b0b8bc; // Secondary headings x
$brand-grey-5: #627b8b; //btn-grey x
$brand-grey-6: #c3c4c3; // border color for inputs
$brand-grey-7: #dbe0e2; // border-bottom in rows in buisness card
$color-white: #fff;
$color-black: #000; 

// Fonts Import
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700,800|Merriweather:300,700,900');

// Fonts Variables
$merriweather: 'Merriweather', serif;
$merriweather-sans: 'Merriweather Sans', sans-serif;

$card-width: 43rem;
$card-width-xs-phone: 27rem;