body {
    background: $brand-grey-2; 
    padding: 5%;
}
.main-container {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    @include box-shadow(.4rem .7rem 1.6rem rgba($color-black, .22));
    @include respond(tab-port){
        flex-direction: column;
    }
}
.container {
    flex: 1 0 0;
    padding: 2%;
    background-color: $color-white;
    &__card-preview {
        background-color: $brand-grey-1;
        padding: 10% 5% 7% 5%;
        @include respond(tab-port){
            padding: 7% 5%;
        }
    }
    &__card-builder {
        padding: 2% 5%;
        @include respond(tab-port){
            padding: 5% 10%;
        }
        @include respond(phone){
            padding: 5%;
        }
    }
}